body{
    height: 100%;
    margin: 0;
    height: 100%;
    background-image: linear-gradient(to right, #5e5e5e 0%, rgb(43, 43, 43) 100%);
}

#final{
    background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
    border: black 3px solid;
    border-radius: 10px;
    display: inline-block;
    float: right;
    width: 45%;
    margin-right: 4%;
}

#form{
    border: black 3px solid;
    width: 27%;
    border-radius: 10px;
    margin-left: 40px;
    background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
}

h1{
    font-family: 'Sedgwick Ave Display', cursive;
    color: rgb(59, 59, 59);
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    margin: 5px;
    font-size: 55px;
    padding-left: 12.5%;
}

li{
    margin-top: 10px;
    margin-bottom: 10px;
}
#heading{
    border: black 5px solid;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 40px;
    width: 35%;
}
span{
    
}
label{
    display: inline-block;
    font-size: 25px;
    font-family:  'Bangers', cursive;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    padding: 0px;
    margin: 10px;
    color: rgb(59, 59, 59);
}
p{
    display: inline-block;
    font-size: 35px;
    font-family:  'Bangers', cursive;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    padding: 0px;
    margin: 10px;
    color: rgb(59, 59, 59);
}

input{
    float: right;
    margin-top: 10px;
    margin-right: 10%;
    border-radius: 10px;
    height: 25px;
    width: 35%;
}
#item{
    font-size: 35px;
    
    font-family:  'Bangers', cursive;
    text-shadow: 2px 2px 2px rgb(136, 136, 136);
    display: inline-block;
    
    margin-top: 5px;
    
}

#bbbb{
    background-color: rgb(255, 237, 132); /* Green */
    border: none;
    padding: 5px 11px;
    color: rgb(59, 59, 59);
    font-family:  'Bangers', cursive;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 400px;
    margin-top: 15px;
    font-size: 20px;
}

#butt{
    background-color: rgb(255, 237, 132); /* Green */
    border: none;
    padding: 5px 11px;
    text-align: center;
    color: rgb(59, 59, 59);
    font-family:  'Bangers', cursive;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 25px;
    font-size: 20px;
}

.Stats{
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
    font-family:  'Bangers', cursive;
    text-shadow: 2px 2px 2px rgb(136, 136, 136);
}

.panel{
    border: black 3px solid;
    width: 43%;
    
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
}

.cal{
    color: black
}

.pro{
    color: red; 
}

.fat{
    color: yellow;
}

.carb{
    color: blue;
}

.num{
    color: black;
}

.gg{
    font-size: 40px;
}

.hh{
    font-size: 60px;
    padding-left: 20px;
    float: left;
    
}