@charset "ISO-8859-1";

body{
		height: 100%;
	    margin: 0;
	    height: 100%;
        background: linear-gradient(rgb(75, 168, 255), rgb(93, 177, 255),rgb(123, 191, 255), rgb(153, 206, 255), rgb(166, 210, 250), rgb(181, 218, 252), rgb(187, 222, 255), rgb(197, 227, 255));
        background-repeat: no-repeat;
        min-height: 500px;
    }
    
form{
		
}
    
